<article itemtype="#" itemscope="" class="item item-page">
                    <meta content="en-GB" itemprop="inLanguage">
                    <div itemprop="articleBody">
                        <div class="module title1">
                            <h3 class="module-title">Últimas Cotações</h3>
                        </div>
                        <hr>
                        <!-- Slider main container -->
                        <div class="swiper-container swiper-projects">
                            <!-- Additional required wrappenr -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                {% for field in quotation_list %}
                                <div class="swiper-slide">
                                    {% if field.view_environment_quotation_home == True %} {% if field.image_environment|lower == 'None'|lower %}
                                    <img src="{% static '/images/no-image.png' %}" alt="MGA-Cotações<br>Sem foto!"> {% else %}
                                    <img src="{{field.image_environment.url}}" alt="Última Cotações - Nº: {{ field.id }}"> {% endif %}
                                    <div style="padding-top: 2px; width: 100%; text-align: center; background-color:#ffb400; height: 2.4em; line-height: 1em; ">
                                        <strong style="color:white; font-size: 12px;">Cotação Nº: {{ field.id }} <br> {{ field.client.city|truncatechars:10 }} - {{ field.date_create|date:"d/m/yy" }}</strong>
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="swiper-slide">
                                    {% if field.view_project_quotation_home == True %} {% if field.image_project|lower == 'None'|lower %}
                                    <img src="{% static '/images/no-image.png' %}" alt="MGA-Cotações<br>Sem foto!"> {% else %}
                                    <img src="{{field.image_project.url}}" alt="Última Cotações - Nº: {{ field.id }}"> {% endif %}
                                    <div style="padding-top: 2px; width: 100%; text-align: center; background-color:#ffb400; height: 2.4em; line-height: 1em; ">
                                        <strong style="color:white; font-size: 12px;">Cotação Nº: {{ field.id }} <br> {{ field.client.city|truncatechars:10 }} - {{ field.date_create|date:"d/m/yy" }}</strong>
                                    </div>
                                    {% endif %}
                                </div>

                                {% endfor %}
                            </div>

                            <br><br>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>

                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                            <!-- If we need scrollbar -->
                            <div class="swiper-scrollbar"></div>
                        </div>

                    </div>
                </article>