
{% load static %}

{% block content %}


<h1>Lista de Imóveis</h1>

<ul>

	{% for imovel in imoveis %}
		
		<li>{{ imovel.id }}</li>

		<li><img vspace="35px" hspace="15px" src="/media/{{ imovel.imagem }}" width=350 height=350></li>
		<li></li>
		<li>{{ imovel.titulo }}</li>
		<li>{{ imovel.categoria }}</li>
		<li>{{ imovel.descricao }}</li>
		<li>{{ imovel.endereco }}</li>		
		<li>{{ imovel.negocio }}</li>
		<li>{{ imovel.area }}</li>
		<li>{{ imovel.status }}</li>
		<li>{{ imovel.num_quarto }}</li>
		<li>{{ imovel.num_banheiro }}</li>
		<li>{{ imovel.num_vaga }}</li>
		<li>{{ imovel.status }}</li>
		<li>{{ imovel.corretor }}</li>
		
		
	
	{% endfor %}


</ul>

{% endblock %}

