{% extends 'painel.html' %}
{% block content %}

<h1>Imóveis Cadastrados</h1>
<a style="margin-top: 15px; margin-left: 1200px;" href="{% url 'criar_imovel' %}" class="btn btn-primary">Novo</a>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">IMÓVEL</th>
            <th scope="col">CATEGORIA</th>
            <th scope="col">NEGOCIO</th>
            <th scope="col">ÁREA</th>
            <th scope="col">N QUARTO</th>
            <th scope="col">N BANHEIRO</th>
            <th scope="col">N VAGA</th>
            <th scope="col">STATUS</th>
            <th scope="col">ENDEREÇO</th>
            <th scope="col">CORRETOR</th>
            <th scope="col">AÇÕES</th>
            <th scope="col">ID</th>
            <th scope="col">PROPRIEDADE</th>
            <th scope="col">IMAGEM</th>
            <th scope="col">LOCALIZAÇÃO</th>
            <th scope="col">ENDEREÇO</th>
            <th scope="col">DESCRIÇÃO</th>
        </tr>
    </thead>
    <tbody>
        {% for imovel in imoveis %}
        <tr>
            <th scope="row">{{ imovel.id }}</th>
            <td>{{ imovel.categoria }}</td>
            <td>{{ imovel.negocio }}</td>
            <td>{{ imovel.area }}</td>
            <td>{{ imovel.num_quarto }}</td>
            <td>{{ imovel.num_banheiro }}</td>
            <td>{{ imovel.num_vaga }}</td>
            <td>{{ imovel.status }}</td>
            <td>{{ imovel.endereco }}</td>
            <td>{{ imovel.corretor }}</td>
            <td>{{ imovel.titulo}}</td>
            <td>{{ system_imovel.propriedade }}</td>
            <td>{{ imovel.imagem }}</td>
            <td>{{ imovel.localizacao }}</td>
            <td>{{ imovel.endereco }}</td>
            <td>{{ imovel.descricao }}</td>
            <td>
                <a href="/visualizar_corretor/{{ corretor.id }}"><i class="fa fa-search" aria-hidden="true">Visualizar</i></a>
                <a href="/editar_corretor/{{ corretor.id }}"><i class="fa fa-pencil" >Editar</i></a>
                <a href="/deletar_corretor/{{ corretor.id }}"><i class="fa fa-trash" aria-hidden="true"></i>Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

    id = models.BigAutoField(primary_key=True)
    
    propriedade = models.TextField(choices=TIPO_PROPRIEDADE, default=0)
    
    imagem = models.FileField (upload_to = 'media/', blank=True, null=True) 
    localizacao = models.CharField(max_length=300, unique=True)
    endereco = models.CharField(max_length=300, unique=True
    
    descricao = models.TextField(unique=True)
    
    
