{% extends 'base.html' %}

{% block title %}Editar '{{ corretor.nome }}'{% endblock %}
{% block content %}
    <div class="container">
        <h1>Editar '{{ corretor.telefone }}'</h1>
        <div>
            <form action="." method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-default" value="Editar">
            </form>
        </div>
        <hr>
        <form action="{% url 'delete_corretor' corretor.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value='Deletar corretor'>
        </form>
    </div>
{% endblock %}